@import "tailwindcss";

textarea {
  resize: none;
  overflow-y: scroll;
  scrollbar-width: none;       
}

textarea::-webkit-scrollbar {
  display: none;               
}

#notes-container::-webkit-scrollbar {
  display: none;               
}